@{
    var currentPath = Context.Request.Path;
    var homeActive = currentPath == "/" ? "active" : string.Empty;
    var unidadesOrganizativasActive = currentPath.StartsWithSegments("/organizacion/unidades-organizativas") ? "active" : string.Empty;
    var cargosActive = currentPath.StartsWithSegments("/organizacion/cargos") ? "active" : string.Empty;
}

<div class="sidenav-menu">
<!-- Brand Logo -->
<a class="logo" href="/">
<span class="logo logo-light">
<span class="logo-lg"><img alt="logo" src="/images/logo.png"/></span>
<span class="logo logo-sm"><img alt="small logo" src="/images/logo-sm.png"/></span>
</span>
<span class="logo logo-dark">
<span class="logo-lg"><img alt="dark logo" src="/images/logo-black.png"/></span>
<span class="logo logo-sm"><img alt="small logo" src="/images/logo-sm.png"/></span>
</span>
</a>
<!-- Sidebar Hover Menu Toggle Button -->
<button class="button-on-hover">
<span class="btn-on-hover-icon"></span>
</button>
<!-- Full Sidebar Menu Close Button -->
<button class="button-close-offcanvas">
<i class="ti ti-menu-4 align-middle"></i>
</button>
<div class="scrollbar" data-simplebar="">
<!--- Sidenav Menu -->
<div id="sidenav-menu">
<ul class="side-nav">
<li class="side-nav-item">
<a class="side-nav-link @homeActive" href="/">
<span class="menu-icon"><i class="ti ti-home"></i></span>
<span class="menu-text">Home</span>
</a>
</li>
<li class="side-nav-item">
<a aria-controls="unidades-organizativas" aria-expanded="false" class="side-nav-link side-nav-link-toggle @unidadesOrganizativasActive" data-bs-toggle="collapse" href="#unidades-organizativas">
<span class="menu-icon"><i class="ti ti-building"></i></span>
<span class="menu-text">Unidades Organizativas</span>
<span class="menu-arrow"></span>
</a>
<div class="collapse" id="unidades-organizativas">
<ul class="sub-menu">
<li class="side-nav-item">
<a class="side-nav-link @unidadesOrganizativasActive" href="/organizacion/unidades-organizativas">
<span class="menu-text">Listado</span>
</a>
</li>
<li class="side-nav-item">
<a class="side-nav-link" href="/organizacion/unidades-organizativas/crear">
<span class="menu-text">Nueva</span>
</a>
</li>
<li class="side-nav-item">
<a class="side-nav-link" href="/organizacion/unidades-organizativas/organigrama">
<span class="menu-text">Organigrama</span>
</a>
</li>
</ul>
</div>
</li>
<li class="side-nav-item">
<a aria-controls="cargos" aria-expanded="false" class="side-nav-link side-nav-link-toggle @cargosActive" data-bs-toggle="collapse" href="#cargos">
<span class="menu-icon"><i class="ti ti-briefcase"></i></span>
<span class="menu-text">Cargos</span>
<span class="menu-arrow"></span>
</a>
<div class="collapse" id="cargos">
<ul class="sub-menu">
<li class="side-nav-item">
<a class="side-nav-link @cargosActive" href="/organizacion/cargos">
<span class="menu-text">Listado</span>
</a>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
<!-- Sidenav Menu End -->